{% extends '../base/base.html' %}

{% block head %}
    <title>accounts users</title>
    <h1>accounts users</h1>
    
    <a href='{% url "accounts:index" %}'>back</a></br>
{% endblock %}
    
{% block body %}
    {# if had users in then makes table with users #}
    {% if users_list %}
        <table>
            <tr>
                <th><span class='t'>user name</span></th>
                <th><span class='t'>registration date</span></th>
            </tr>
        {% for user in page_obj %}
            <tr>
                <td><a href='{{ user.username }}/'>{{ user.username }}</a></td>
                <td><span class='t'>{{ user.date_joined }}</span></td>
            </tr>
        {% endfor %}
        </table></br>
        
        {# makes pages if too many users #}
        {% if page_obj.has_previous %}
            <a href='?page={{ page_obj.previous_page_number }}'>previous</a>
        {% else %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}

        <span class='t'>page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href='?page={{ page_obj.next_page_number }}'>next</a>
        {% endif %}

    {% else %}
        <p>no users are available</p>
    {% endif %}
{% endblock %}