<html>
<head>

    <title>accounts detail</title>
    <h1>accounts detail</h1>

</head>
<body>

    <a href='{% url "accounts:users" %}'>back</a></br>

    {# displays user's information #}
    <h3>
        {{ user.username }}</br>
        {{ user.date_joined }}</br>
    </h3>

    {# if had queryset makes list of user's blogs #}
    {% if page_obj %}
        <p>{{ user.username }}'s blogs:</p>

        <ul>
        {% for blog in page_obj %}
           <li><a href='{% url "blogs:detail" blog.id %}'>{{ blog }}</a></li>
        {% endfor %}
        </ul></br>

        {% if page_obj.has_previous %}
            <a href='?page={{ page_obj.previous_page_number }}'>previous</a>
        {% else %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}

        page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
            <a href='?page={{ page_obj.next_page_number }}'>next</a>
        {% endif %}

    {% else %}
        <p>no {{ user.username }}'s blogs are available</p>
    {% endif %}

</body>
</html>