<html>
<head>

    <title>accounts index</title>
    <h1>accounts index</h1>

</head>
<body>
    
    <a href='{% url "blogs:index" %}'>blogs</a></br>

    {# shows user's name and some pages if logged in #}
    {% if user.is_authenticated %}
        you are logged in as <b>{{ user.username }}</b></br>
        <a href='logout/'>logout</a></br></br>
        <a href='settings/'>settings</a>
    {% else %}
        you are <b>not</b> logged in</br>
        <a href='login/'>login</a> or 
        <a href='register/'>register</a>
    {% endif %}

    </br></br><a href='users/'>users</a>

</body>
</html>