<html>
<head>

    <title>accounts users</title>
    <h1>accounts users</h1>

</head>
<body>

    <a href='{% url "accounts:index" %}'>back</a></br>

    {# if had users in then makes table with users #}
    {% if users_list %}
        <table>
            <tr>
                <th>user name</th>
                <th>registration date</th>
            </tr>
        {% for user in page_obj %}
            <tr>
                <td><a href='{{ user.username }}/'>{{ user.username }}</a></td>
                <td>| {{ user.date_joined }}</td>
            </tr>
        {% endfor %}
        </table></br>
        
        {# makes pages if too many users #}
        {% if page_obj.has_previous %}
            <a href='?page={{ page_obj.previous_page_number }}'>previous</a>
        {% else %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}

        page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
            <a href='?page={{ page_obj.next_page_number }}'>next</a>
        {% endif %}

    {% else %}
        <p>no users are available</p>
    {% endif %}
</body>
</html>