<html>
<head>
    
    {% load static %}
    <link rel='stylesheet' type='text/css' href="{% static 'bootstrap/css/bootstrap.css' %}">
    
</head>
<body>
    <div class='container-fluid'>
        <div class='row'>

            <div class='col-6 bg-border text-light height-small'>
                {% block header %}{% endblock %}
            </div>

            <div class='col-6 bg-border text-light height-small text-end'>
                {% if not user.is_authenticated %}
                    <a href='{% url "accounts:register" %}' class='text-decoration-none h2'>Register</a></br>
                    <a href='{% url "accounts:login" %}' class='text-decoration-none h2'>Login</a>
                {% endif %}
            </div>
        
        </div>
        <div class='row'>

            <div class='col-2 height-big p-3 text-end'>
                <div class='container flex-row-reverse'>
                    <div class='d-grid'>
                        <div class='btn-group-vertical'>
                            {% if user.is_authenticated %}
                                <a href='{% url "accounts:settings" %}' class='btn btn-outline-primary'>Settings</a>
                            {% endif %}
                            <a href='{% url "accounts:index" %}' class='btn btn-outline-primary'>Accounts</a>
                            <a href='{% url "accounts:users" %}' class='btn btn-outline-primary'>Users</a>
                            <a href='{% url "blogs:index" %}' class='btn btn-outline-primary'>Blogs</a>
                            {% if user.is_authenticated %}
                                <a href='{% url "blogs:creation" %}' class='btn btn-outline-primary'>Create</a>
                            {% endif %}
                        </div>
                        
                        {% if page_obj %}
                            <div class='btn-group pt-2'>
                                {% if page_obj.has_previous %}
                                    <a class='btn btn-outline-primary' href='?page={{ page_obj.previous_page_number }}'>Previous</a>
                                {% else %}
                                    <a class='btn btn-outline-primary disabled'>Previous</a>
                                {% endif %}

                                <a class='btn btn-outline-primary'>{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                                
                                {% if page_obj.has_next %}
                                    <a class='btn btn-outline-primary' href='?page={{ page_obj.next_page_number }}'>Next</a>
                                {% else %}
                                    <a class='btn btn-outline-primary disabled'>Next</a>
                                {% endif %}
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class='col-8 height-big'>
                {% block content %}{% endblock %}
            </div>

            <div class='col-2'>
                
            </div>

        </div>
    </div>
</body>
</html>