{% extends '../base/base.html' %}

{% block header %}
    <title>Blogs</title>
    <h1>Blogs</h1>
    <p>See Latest Blogs From Users!</p>
{% endblock %}

{% block content %}
    {# if queryset had blogs in then makes table of blogs #}
    {% if latest_blog_list %}
        <table class='table table-hover mt-1'>
            <thead>
                <tr>
                    <th>Blog Name</th>
                    <th>User</th>
                    <th>Publication Date</th>
                </tr>
            </thead>
            <tbody>
                {% for blog in page_obj %}
                    <tr>
                        <td class='col-6'><a href='/blogs/{{ blog.id }}/' class='text-decoration-none'>{{ blog.blog_name }}</a></td>
                        <td class='col-3'><a href='{% url "accounts:detail" blog.user %}' class='text-decoration-none'>{{ blog.user }}</a></td>
                        <td class='col-3'>{{ blog.pub_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Blogs are Available.</p>
    {% endif %}
{% endblock %}