{% extends '../base/base.html' %}

{% block head %}
    <title>blogs creation</title>
    <h1>blogs creation</h1>

    <a href='{% url "blogs:index" %}'>back</a></br>
{% endblock %}

{% block body %}
    {# creates a blog #}
    <form action='{% url "blogs:creation" %}', method='POST'>
        {% csrf_token %}
        <div id='width'>
            <input type='submit' value='create'>
        </div>

        </br><span class='t'>blog name:</span></br>
        {{ form.blog_name }}</br>

        </br><span class='t'>blog text:</span></br>
        <textarea name='blog_text'></textarea>
    </form>
{% endblock %}